{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>SentiMail</h1>
    <h3>A Machine Learning App by Mike Bao and Jonathan Huang</h3>
    <p>SentiMail uses IBM Watson's Natural Language API to analyze emails for tone, style, and mood.</p>
    
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/MikeBao99/SentiMail"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="file-loading">
    <input id="input-20" type="file">
</div>
<script>
$(document).on('ready', function() {
    $("#input-20").fileinput({
        browseClass: "btn btn-primary btn-block",
        showCaption: false,
        showRemove: false,
        showUpload: false
    });
});
</script>

{% endblock %}
